extends ../layaout/index.pug
block container
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Nosotros")
            .col-md-7
                h1 Sobre Nosotros
                blockquote Nunc porta aliquam velit ac porttitor. Mauris libero justo, imperdiet sit amet ligula nec, pretium porta turpis. Pellentesque eu nunc blandit nibh rutrum suscipit. Aliquam ultrices, odio congue lobortis congue, lacus sem rutrum lorem, at finibus ligula nunc eget ligula. Integer pellentesque augue vel mauris volutpat consectetur eu vel quam. Donec vestibulum quis ex ac convallis. Ut dictum consequat dui a consequat. 
                p Sed congue nisl ac luctus finibus. In hac habitasse platea dictumst. Integer suscipit ante id laoreet dictum. Mauris rhoncus id turpis sed varius. Donec ullamcorper sollicitudin augue id placerat. Phasellus a consectetur tellus. Quisque lacinia, libero nec interdum hendrerit, mi sem gravida erat, at ornare mi velit quis purus. Suspendisse in imperdiet magna, ut posuere augue. Proin imperdiet lectus ac convallis blandit. Sed felis tellus, volutpat ut lacinia et, scelerisque sit amet mauris. Maecenas sagittis urna vitae molestie laoreet. Sed sem magna, mattis at venenatis eu, suscipit tempor eros. Aliquam rhoncus dictum odio eu egestas. Cras quis tellus vitae massa eleifend mollis vel id nisl.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.